body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 24);
    font-size: 1.1rem;
    font-family: sans-serif;
}
td{
    border: 2px solid rgb(57, 56, 56);
    text-align: center;
}
.nothing{
    border-style: none;
}
table{
    margin-top: 2%;
    background: rgb(238, 237, 237);
}
.orange{
    background-color: rgb(184, 49, 74);
}
.blue{
    background-color: rgb(98, 98, 184);
}
.yellow{
    background-color: rgb(222, 222, 104);
}
.green{
    background-color: rgb(52, 126, 52);
}
#align{
    text-align: left;
}
@media screen and (max-width:930px){
    html{
        font-size: 80%;
    }
}
@media screen and (max-width:800px){
    html{
        font-size: 60%;
    }
}
@media screen and (max-width:660px){
    html{
        font-size: 50%;
    }
}
@media screen and (max-width:600px){
    html{
        font-size: 40%;
    }
}
@media screen and (max-width:500px){
    html{
        font-size: 30%;
    }
}
@media screen and (max-width:420px){
    html{
        font-size: 20%;
    }
}